#include <iostream>

int main() {
    std::cout << "🚀 C++ Microservice {{.ServiceName}} started successfully!" << std::endl;
    std::cout << "🔌 Listening on port: {{.Port}}" << std::endl;
    return 0;
}