const { Pool } = require('pg');

const pool = new Pool({
  user: 'admin',
  host: 'db', // Database service name in Docker Compose
  database: 'postgres',
  password: 'super_secret_password',
  port: 5432,
});

module.exports = pool;